/* -- COLORS -- */
$light-color: #f0ccdf;
$light-color-less-opacity: #f0ccdf8e;
$primary-color: #69062e;

/* -- FONTS -- */
$form-text-size: 18px;
$text-size: 15px;

/* -- SIZE -- */
// $form-height: 100px;