/* -- COLORS -- */
$light-color: #f0ccdf;
$light-color-less-opacity: #f0ccdf8e;
$primary-color: #69062e;

$text-color: #1d020c;

/* -- FONTS -- */
$form-text-size: 18px;

$h1-size: 25px;
$h2-size: 22px;

$text-size: 16px;
$text-size2: 15px;
$text-size3: 13px;

/* -- SIZE -- */
$card-width: 300px;
$card-height: 400px;

$card-width2: 220px;
$card-height2: 350px;

$card-width3: 165px;
$card-height3: 325px;